<script src = "/Templates/docmed-master/js/vendor/modernizr-3.5.0.min.js"></script>
<script src = "/Templates/docmed-master/js/vendor/jquery-1.12.4.min.js"></script>
<script src = "/Templates/docmed-master/js/popper.min.js"></script>
<script src = "/Templates/docmed-master/js/bootstrap.min.js"></script>
<script src = "/Templates/docmed-master/js/owl.carousel.min.js"></script>
<script src = "/Templates/docmed-master/js/isotope.pkgd.min.js"></script>
<script src = "/Templates/docmed-master/js/ajax-form.js"></script>
<script src = "/Templates/docmed-master/js/waypoints.min.js"></script>
<script src = "/Templates/docmed-master/js/jquery.counterup.min.js"></script>
<script src = "/Templates/docmed-master/js/imagesloaded.pkgd.min.js"></script>
<script src = "/Templates/docmed-master/js/scrollIt.js"></script>
<script src = "/Templates/docmed-master/js/jquery.scrollUp.min.js"></script>
<script src = "/Templates/docmed-master/js/wow.min.js"></script>
<script src = "/Templates/docmed-master/js/nice-select.min.js"></script>
<script src = "/Templates/docmed-master/js/jquery.slicknav.min.js"></script>
<script src = "/Templates/docmed-master/js/jquery.magnific-popup.min.js"></script>
<script src = "/Templates/docmed-master/js/plugins.js"></script>
<script src = "/Templates/docmed-master/js/gijgo.min.js"></script>
<!--contact js-->
<script src = "/Templates/docmed-master/js/contact.js"></script>
<script src = "/Templates/docmed-master/js/jquery.ajaxchimp.min.js"></script>
<script src = "/Templates/docmed-master/js/jquery.form.js"></script>
<script src = "/Templates/docmed-master/js/jquery.validate.min.js"></script>
<script src = "/Templates/docmed-master/js/mail-script.js"></script>

<script src = "/Templates/docmed-master/js/main.js"></script>
<script>
$('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});</script>

