@model List<AcunMedyaHospitalProject.Entities.Doctor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Doktor Bilgileri</h2>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Doktor Tablosu</h4>
            <p class="card-description">
                Doktorların bilgileri bu alanda gözükecektir.
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>İsim</th>
                            <th>Resim</th>
                            <th>Bölümü</th>
                            <th>Güncelle</th>
                            <th>Kaldır</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.FullName</td>
                                <td >
                                    <img src="@item.ImageUrl"/>
                                </td>
                                <td>
                                    @item.Department.Name
                                </td>
                                <td><a class="btn btn-success" href="/Doctor/UpdateDoctor/@item.Id">Güncelle</a></td>
                                <td><a class="btn btn-danger" href="/Doctor/DeleteDoctor/@item.Id">Kaldır</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-secondary" href="/Doctor/CreateDoctor"> Doktor Ekle</a>
            </div>
        </div>
    </div>
</div>